Repository manuelbieh/react-ssr-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix, yarn lint:css --fix

.lintstagedrc:

{
  "linters": {
    "*.{js,jsx,ts,tsx,css}": [
      "prettier --write",
      "git add"
    ],
    "*.{js,jsx,ts,tsx}": [
      "yarn lint:js --fix",
      "git add"
    ],
    "*.css": [
      "yarn lint:css --fix",
      "git add"
    ]
  }
}

fixed lint error
  scripts/build-ssr.js
Due: prettier --write, yarn lint:js --fix

Chores/jun 19 (#68)
  CHANGELOG.md
  package.json
  postcss.config.js
  scripts/build-ssr.js
  scripts/start-ssr.js
  src/client/index.tsx
  src/server/index.ts
  src/shared/App.module.css
  src/shared/store/index.ts
  src/shared/store/rootReducer.ts
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:css --fix

breaking: changed path to translations, added helper scripts for localise.co
  .env.example
  config/paths.js
  config/webpack.config.js/plugins.js
  i18next-scanner.config.js
  package.json
  scripts/i18n-pull.js
  scripts/start-client.js
  src/global.d.ts
  src/server/components/HTML.tsx
  src/server/index.ts
  src/shared/App.tsx
  src/shared/i18n/IntlProvider.tsx
  src/shared/i18n/locales/de_DE.json
  src/shared/i18n/locales/de_DE/translation.json
  src/shared/i18n/locales/de_DE/translation.missing.json
  src/shared/i18n/locales/en_US.json
  src/shared/i18n/locales/en_US/translation.json
  src/shared/i18n/locales/en_US/translation.missing.json
  yarn.lock
Due: prettier --write, yarn lint:js --fix

marked req as unused var by prefixing it with underscore
  src/server/index.ts
  yarn.lock
Due: prettier --write, yarn lint:js --fix

added configurable pull script for lokalise.co, added live-update endpoint for i18n, experimented with i18next-xhr
  config/paths.js
  config/webpack.config.js/server.base.js
  i18next-scanner.config.js
  package.json
  scripts/i18n-pull.js
  scripts/start-ssr.js
  src/server/index.ts
  src/server/lib/i18n/lokalise.js
  src/server/middleware/addStore.ts
  src/server/middleware/i18next.ts
  src/shared/i18n/IntlProvider.tsx
  src/shared/i18n/locales/de_DE/translation.json
  src/shared/i18n/locales/en_US/translation.json
  yarn.lock
Due: prettier --write, yarn lint:js --fix

removed comments
  scripts/i18n-pull.js
Due: prettier --write, yarn lint:js --fix

minor fixes and optimizations
  src/global.d.ts
  src/shared/i18n/IntlProvider.tsx
Due: prettier --write, yarn lint:js --fix

cleanup
  src/server/lib/i18n/lokalise.js
  src/server/middleware/i18next.ts
Due: prettier --write, yarn lint:js --fix

consistency
  src/server/middleware/i18next.ts
Due: prettier --write, yarn lint:js --fix

async i18next tweaks
  README.md
  config/webpack.config.js/plugins.js
  package.json
  src/server/index.ts
  src/server/lib/i18n/lokalise.js
  src/server/middleware/i18n.ts
  src/shared/components/Features/Features.module.css
  src/shared/components/Features/index.tsx
  src/shared/i18n/IntlProvider.tsx
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:css --fix

added a little webhook authentication middleware to protect against unwanted requests
  .env.example
  src/server/index.ts
  src/server/middleware/webhookVerification.ts
Due: prettier --write, yarn lint:js --fix

fixes #69
  config/webpack.config.js/plugins.js
Due: prettier --write, yarn lint:js --fix

updated dependencies, using unified .browserslistrc file
  CHANGELOG.md
  src/shared/i18n/locales/de_DE/test.json
  src/shared/i18n/locales/en_US/test.json
  src/shared/test.css
  yarn.lock
Due: prettier --write, yarn lint:css --fix

removed connected-react-router, updated dependencies
  yarn.lock
Due: none

Chores/jun 19 (#70)
  .env.example
  CHANGELOG.md
  config/paths.js
  config/webpack.config.js/plugins.js
  i18next-scanner.config.js
  package.json
  scripts/i18n-pull.js
  scripts/start-client.js
  src/global.d.ts
  src/server/components/HTML.tsx
  src/server/index.ts
  src/shared/App.tsx
  src/shared/i18n/IntlProvider.tsx
  src/shared/i18n/locales/de_DE.json
  src/shared/i18n/locales/de_DE/test.json
  src/shared/i18n/locales/de_DE/translation.json
  src/shared/i18n/locales/de_DE/translation.missing.json
  src/shared/i18n/locales/en_US.json
  src/shared/i18n/locales/en_US/test.json
  src/shared/i18n/locales/en_US/translation.json
  src/shared/i18n/locales/en_US/translation.missing.json
  src/shared/test.css
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:css --fix

updated dependencies, using unified .browserslistrc file
  scripts/start-client.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix

breaking: changed path to translations, added helper scripts for localise.co
  scripts/start-client.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix

marked req as unused var by prefixing it with underscore
  yarn.lock
Due: none

preparing i18n:push
  README.md
  package.json
  scripts/i18n-push.js
  src/server/index.ts
  src/server/lib/i18n/lokalise.js
  src/server/middleware/i18n.ts
  src/shared/i18n/locales/en_US/translation.missing.json
Due: prettier --write, yarn lint:js --fix

fix: .snyk & package.json to reduce vulnerabilities
  .snyk
  package.json
Due: none

updated dependencies, added noUnusedLocals and noUnusedParameters ts options
  README.md
  package.json
  tsconfig.json
  yarn.lock
Due: none

added temporary workaround for react-dev-utils getLocalIdent
  config/webpack.config.js/loaders.js
  scripts/build-client.js
  scripts/build-ssr.js
Due: prettier --write, yarn lint:js --fix

removed emoji as it could cause issues in some shells
  src/server/index.ts
Due: prettier --write, yarn lint:js --fix

webpack update
  package.json
  yarn.lock
Due: none

readme update, changelog update, jest config
  .lintstagedrc
  CHANGELOG.md
  README.md
  babel.config.js
  config/jest/setup.js
  jest.config.js
  package.json
  src/shared/components/Features/index.tsx
  yarn.lock
Due: prettier --write, yarn lint:js --fix

fixed typedef
  src/shared/i18n/IntlProvider.tsx
Due: prettier --write, yarn lint:js --fix

updated more deps
  .lintstagedrc
  CHANGELOG.md
  package.json
  yarn.lock
Due: none

Chores jul 19 (#75)
  .lintstagedrc
  CHANGELOG.md
  README.md
  babel.config.js
  config/jest/setup.js
  config/webpack.config.js/loaders.js
  jest.config.js
  package.json
  scripts/build-client.js
  scripts/build-ssr.js
  src/server/index.ts
  src/shared/components/Features/index.tsx
  src/shared/i18n/IntlProvider.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, yarn lint:js --fix

Using wildcard for client-only dev server requests
  scripts/start-client.js
Due: prettier --write, yarn lint:js --fix
