Repository manuelbieh/react-ssr-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

test husky@next
  package.json
  yarn.lock
Due: none

chore: use stable husky version
  package.json
  yarn.lock
Due: none

fix: lint errors
  src/server/lib/i18n/lokalise.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

update changelog
  CHANGELOG.md
  package.json
Due: none

remove tempdir on cleanup()
  src/server/lib/i18n/lokalise.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

Chores nov 19 (#96)
  .editorconfig
  .eslintrc.ts
  .huskyrc
  .prettierrc
  .prettierrc.js
  .stylelintrc
  CHANGELOG.md
  README.md
  config/webpack.config.ts/resolvers.ts
  global.d.ts
  package.json
  scripts/i18n-push.ts
  src/global.d.ts
  src/server/lib/i18n/lokalise.ts
  src/shared/components/Features/index.tsx
  src/shared/store/app/selectors.ts
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

chore: update all deps
  .lintstagedrc
  package.json
  yarn.lock
Due: none

feature: add simple routing examples, optimize webpack resolve config, decrease bundle size, use babel preset-env's useBuiltIns
  README.md
  babel.config.js
  config/webpack.config.ts/client.base.ts
  config/webpack.config.ts/resolvers.ts
  package.json
  src/server/index.ts
  src/shared/App.tsx
  src/shared/i18n/locales/de_DE/translation.json
  src/shared/i18n/locales/de_DE/translation.missing.json
  src/shared/i18n/locales/en_US/translation.json
  src/shared/i18n/locales/en_US/translation.missing.json
  src/shared/pages/Home/index.tsx
  src/shared/routes.test.ts
  src/shared/routes.ts
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

chores/jan20 (#101)
  .lintstagedrc
  README.md
  babel.config.js
  config/webpack.config.ts/client.base.ts
  config/webpack.config.ts/resolvers.ts
  package.json
  src/server/index.ts
  src/shared/App.tsx
  src/shared/i18n/locales/de_DE/translation.json
  src/shared/i18n/locales/de_DE/translation.missing.json
  src/shared/i18n/locales/en_US/translation.json
  src/shared/i18n/locales/en_US/translation.missing.json
  src/shared/pages/Home/index.tsx
  src/shared/routes.test.ts
  src/shared/routes.ts
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

chore: clean up a few minor things
  CHANGELOG.md
  config/webpack.config.ts/loaders.ts
  config/webpack.config.ts/plugins.ts
  scripts/test.ts
  src/shared/App.tsx
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

chore: update all dependencies
  package.json
  yarn.lock
Due: none

fix: use correct named import
  scripts/test.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

fix: use correct named import
  package.json
  scripts/test.ts
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

chore: fix formatting issues
  README.md
Due: none

chore: update deps
  package.json
  yarn.lock
Due: none

chore: update deps
  package.json
  src/server/middleware/errorHandler.ts
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

fix: package.json to reduce vulnerabilities
  package.json
Due: none

chore: dependency update
  package.json
  yarn.lock
Due: none

chore: remove broken express typings
  package.json
  yarn.lock
Due: none

feat: add typed-css-modules-webpack-plugin to generate typedefs for css modules during build ���
  config/webpack.config.ts/plugins.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

Rewrite import style to avoid possibly bigger bundle size (see https://twitter.com/sebmarkbage/status/1250284377138802689)
  config/plop/component/component.test.tsx.plop
  config/plop/component/component.tsx.plop
  src/client/index.tsx
  src/server/components/HTML.tsx
  src/server/index.ts
  src/shared/App.tsx
  src/shared/components/Features/index.tsx
  src/shared/pages/Page-1/index.tsx
  src/shared/pages/Page-2/index.tsx
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

fix: package.json & .snyk to reduce vulnerabilities
  package.json
Due: none

fix: package.json & .snyk to reduce vulnerabilities
  .snyk
Due: none

feature: add react-refresh
  babel.config.js
  config.d.ts
  config/webpack.config.ts/plugins.ts
  package.json
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

feature: add react fast refresh
  .eslintrc.js
  CHANGELOG.md
  README.md
  babel.config.js
  config/webpack.config.ts/index.js
  config/webpack.config.ts/loaders.ts
  config/webpack.config.ts/plugins.ts
  config/webpack.config.ts/storybook.js
  i18next-scanner.config.js
  package.json
  postcss.config.js
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

chore: update dependencies
  .gitignore
  CHANGELOG.md
  dependency-graph.svg
  package.json
  yarn.lock
Due: none

chore: upgrade node docker image to the latest 12 LTS
  .circleci/config.yml
Due: none

chore: update minimum required node and yarn versions
  package.json
Due: none

fix: use the --force
  .circleci/config.yml
Due: none

docs: update list of features
  README.md
  src/shared/components/Features/Features.module.css
  src/shared/components/Features/index.tsx
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

chore: add type defs for css modules
  src/shared/App.module.css.d.ts
  src/shared/components/Features/Features.module.css.d.ts
  src/shared/pages/Page-1/Page-1.css
  src/shared/pages/Page-1/Page-1.module.css.d.ts
  src/shared/test.css
  src/shared/variables.css.d.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

docs: credit where credit's due
  CHANGELOG.md
Due: none

chore: bump dependencies
  config/webpack.config.ts/plugins.ts
  package.json
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

modify module history v5.0.0 to v4.10.1
  package.json
Due: none

update readme
  README.md
  src/shared/assets/book-cover-en-small.png
  src/shared/assets/book-cover-en.png
Due: none

fix: correct table markdown
  README.md
Due: none

fix vendor CSS not generating in production mode
  config/webpack.config.ts/loaders.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

feat\!: make a bunch of changes so this setup works with the greatest and latest webpack 5
  config/webpack.config.ts/client.base.ts
  config/webpack.config.ts/client.dev.ts
  config/webpack.config.ts/client.prod.ts
  config/webpack.config.ts/loaders.ts
  config/webpack.config.ts/plugins.ts
  config/webpack.config.ts/server.base.ts
  package.json
  postcss.config.ts
  scripts/start-client.ts
  scripts/start-ssr.ts
  scripts/utils.ts
  src/server/index.ts
  src/shared/App.tsx
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css}
  eslint --fix --ext js,jsx,ts,tsx: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
