Repository manuelbieh/react-ssr-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint src --fix, stylelint src/**/*.css --fix

.lintstagedrc:

{
  "linters": {
    "*.{js,jsx,css}": [
      "prettier --write",
      "git add"
    ],
    "*.{js,jsx}": [
      "eslint src --fix",
      "git add"
    ],
    "*.css": [
      "stylelint src/**/*.css --fix",
      "git add"
    ]
  }
}

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fixing code climate issues
  scripts/start-client.js
  scripts/start-ssr.js
  scripts/start.js
  src/shared/App.js
Due: prettier --write, eslint src --fix

removed temporary code, updated dependencies
  package.json
  src/shared/App.js
  yarn.lock
Due: prettier --write, eslint src --fix

updated deps, dropped babel-polyfill, updated to core-js 3
  CHANGELOG.md
  config/webpack.config.js/client.base.js
  config/webpack.config.js/server.base.js
  package.json
  src/shared/store/history.js
  yarn.lock
Due: prettier --write, eslint src --fix

dependency updates
  package.json
  yarn.lock
Due: none

changelog update
  CHANGELOG.md
  package.json
Due: none

added dependency cruiser and updated all dependencies
  .dependency-cruiser.js
  babel.config.js
  config/webpack.config.js/plugins.js
  package.json
  yarn.lock
Due: prettier --write, eslint src --fix

added some promotion to README.md
  CHANGELOG.md
  README.md
  package.json
  src/shared/assets/book-cover-small.png
  src/shared/assets/book-cover.png
Due: none

formatting
  README.md
Due: none

fixed naming of unused files
  package.json
  src/shared/pages/Page-1/Page-1.module.css
  src/shared/pages/Page-1/index.js
Due: prettier --write, eslint src --fix, stylelint src/**/*.css --fix

several fixes
  .eslintrc.js
  CHANGELOG.md
  README.md
  package.json
  src/shared/App.tsx
  src/shared/store/app/actions.ts
  src/shared/store/app/reducer.ts
  src/shared/store/app/selectors.ts
  src/shared/store/app/types.ts
  yarn.lock
Due: prettier --write, eslint src --fix

smallish fixes
  package.json
  src/server/components/HTML.tsx
  src/shared/App.tsx
  yarn.lock
Due: none

added dependency-graph gimmick
  .dependency-cruiser.js
  .gitignore
  README.md
  package.json
  src/shared/App.tsx
Due: prettier --write, eslint src --fix

Added circle-ci badge
  README.md
Due: none

updated dotenv
  package.json
  yarn.lock
Due: none

updated readme
  README.md
Due: none

typo
  README.md
Due: none

some chores
  .circleci/config.yml
  .editorconfig
  package.json
  yarn.lock
Due: none

fix circleci config
  .circleci/config.yml
Due: none

circleci tuning
  .circleci/config.yml
Due: none

chore(depcruise): also check typescript dependencies that exist before compilation
  .dependency-cruiser.js
Due: prettier --write, eslint src --fix

chore(depcruise): remove --ts-config cli parameter, as it's already in the config
  package.json
Due: none

chore(depcruise): also use the dependency-cruiser config for generating the dependency-graph
  package.json
Due: none

chores(depcruise): check ts pre compilation dependencies (#59)
  .dependency-cruiser.js
  package.json
Due: prettier --write, eslint src --fix

fix history for ssr routes
  src/client/index.tsx
  src/server/index.ts
  src/shared/store/history.ts
  src/shared/store/index.ts
  src/shared/store/rootReducer.ts
Due: none

update changelog
  CHANGELOG.md
  package.json
Due: none

Fix history for SSR routes (resolves #48) (#60)
  CHANGELOG.md
  package.json
  src/client/index.tsx
  src/server/index.ts
  src/shared/store/history.ts
  src/shared/store/index.ts
  src/shared/store/rootReducer.ts
Due: none

some cleanup
  package.json
  src/server/index.ts
  yarn.lock
Due: none

using correct types and parameters for history calls
  src/shared/store/history.ts
  src/shared/store/index.ts
  src/shared/store/rootReducer.ts
Due: none

using correct types and parameters for history calls (#61)
  src/shared/store/history.ts
  src/shared/store/index.ts
  src/shared/store/rootReducer.ts
Due: none

updated dependencies, using unified .browserslistrc file
  .browserslistrc
  .circleci/config.yml
  babel.config.js
  package.json
  postcss.config.js
  scripts/start-client.js
  yarn.lock
Due: prettier --write, eslint src --fix

added typescript support for storybook, version bump, changelog update
  CHANGELOG.md
  config/webpack.config.js/storybook.js
  package.json
Due: prettier --write, eslint src --fix

Chores/jun 19 (#67)
  .browserslistrc
  .circleci/config.yml
  CHANGELOG.md
  babel.config.js
  config/webpack.config.js/storybook.js
  package.json
  postcss.config.js
  scripts/start-client.js
  yarn.lock
Due: prettier --write, eslint src --fix

Update README.md
  README.md
Due: none

removed connected-react-router, updated dependencies
  CHANGELOG.md
  package.json
  postcss.config.js
  src/client/index.tsx
  src/server/index.ts
  src/shared/App.module.css
  src/shared/store/index.ts
  src/shared/store/rootReducer.ts
  yarn.lock
Due: prettier --write, eslint src --fix, stylelint src/**/*.css --fix

added delay to nodemon to prevent unnecessary server restarts
  scripts/start-ssr.js
Due: prettier --write, eslint src --fix

updated changelog
  CHANGELOG.md
Due: none
