Repository manuelbieh/react-ssr-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

chore: update everything and fix all the resulting bugs
  .browserslistrc
  .lintstagedrc
  config/webpack.config.ts/loaders.ts
  package.json
  postcss.config.ts
  src/client/index.tsx
  src/shared/App.module.css
  src/shared/App.tsx
  src/shared/store/history.ts
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

Speed up watch mode tests
  scripts/test.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

custom changes
  src/server/components/HTML.tsx
  src/server/index.ts
  src/server/middleware/serverRenderer.tsx
  src/shared/App.tsx
  src/shared/components/Features/index.tsx
  src/shared/pages/Home/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

fix: package.json to reduce vulnerabilities
  package.json
Due: none

Update i18n-push.ts
  scripts/i18n-push.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css}
  eslint --fix --ext js,jsx,ts,tsx: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.css
