Repository manuelbieh/react-ssr-setup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint:js --fix, yarn lint:css --fix

added schema to tsconfig
  tsconfig.json
Due: none

add webpackbar
  config/webpack.config.js/plugins.js
  package.json
  yarn.lock
Due: prettier --write, yarn lint:js --fix

improve build output
  config/webpack.config.js/client.base.js
  config/webpack.config.js/server.base.js
Due: prettier --write, yarn lint:js --fix

updated dependencies, added noUnusedLocals and noUnusedParameters ts options
  yarn.lock
Due: none

webpack update
  yarn.lock
Due: none

readme update, changelog update, jest config
  yarn.lock
Due: none

Using wildcard for client-only dev server requests
  scripts/start-client.js
Due: prettier --write, yarn lint:js --fix

add resolve alias for react and react-dom to avoid potential issues
  .prettierrc
  config/webpack.config.js/resolvers.js
  tsconfig.json
Due: prettier --write, yarn lint:js --fix

doing the chores
  .eslintrc.js
  CHANGELOG.md
  config/plop/reducer/types.js.plop
  config/webpack.config.js/resolvers.js
  package.json
  scripts/test.js
  src/client/index.tsx
  src/server/components/HTML.tsx
  src/server/middleware/serverRenderer.tsx
  src/shared/App.tsx
  yarn.lock
Due: prettier --write, yarn lint:js --fix

Chores aug 19 (#82)
  .eslintrc.js
  .prettierrc
  CHANGELOG.md
  config/plop/reducer/types.js.plop
  config/webpack.config.js/client.base.js
  config/webpack.config.js/resolvers.js
  config/webpack.config.js/server.base.js
  package.json
  scripts/start-client.js
  scripts/test.js
  src/client/index.tsx
  src/server/components/HTML.tsx
  src/server/middleware/serverRenderer.tsx
  src/shared/App.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, yarn lint:js --fix

hookify intlProvider
  .eslintrc.js
  package.json
  src/shared/i18n/IntlProvider.tsx
Due: prettier --write, yarn lint:js --fix

use correct types
  package.json
  yarn.lock
Due: none

fix minor things
  src/server/components/HTML.tsx
  src/shared/components/Features/index.tsx
  src/shared/i18n/IntlProvider.tsx
Due: prettier --write, yarn lint:js --fix

various smallish improvements
  CHANGELOG.md
  README.md
  package.json
  src/shared/App.tsx
  src/shared/components/Features/Features.module.css
  src/shared/components/Features/index.tsx
  src/shared/store/app/reducer.ts
Due: prettier --write, yarn lint:js --fix, yarn lint:css --fix

version bump
  package.json
Due: none

Feature/asynchronous i18n (#77)
  .env.example
  .eslintrc.js
  CHANGELOG.md
  README.md
  config/paths.js
  config/webpack.config.js/plugins.js
  config/webpack.config.js/server.base.js
  i18next-scanner.config.js
  package.json
  scripts/i18n-pull.js
  scripts/i18n-push.js
  scripts/start-ssr.js
  src/global.d.ts
  src/server/components/HTML.tsx
  src/server/index.ts
  src/server/lib/i18n/lokalise.js
  src/server/middleware/addStore.ts
  src/server/middleware/i18n.ts
  src/server/middleware/serverRenderer.tsx
  src/server/middleware/webhookVerification.ts
  src/shared/App.tsx
  src/shared/components/Features/Features.module.css
  src/shared/components/Features/index.tsx
  src/shared/i18n/IntlProvider.tsx
  src/shared/i18n/locales/de_DE/translation.json
  src/shared/i18n/locales/en_US/translation.json
  src/shared/i18n/locales/en_US/translation.missing.json
  src/shared/store/app/reducer.ts
  yarn.lock
Due: prettier --write, yarn lint:js --fix, yarn lint:css --fix

add optional profiler plugin
  config/webpack.config.js/plugins.js
Due: prettier --write, yarn lint:js --fix

add a lot more typescript everywhere and make existing tooling compatible
  .eslintrc.js
  .eslintrc.ts
  config.d.ts
  config/paths.ts
  config/webpack.config.ts/client.base.ts
  config/webpack.config.ts/client.dev.ts
  config/webpack.config.ts/client.prod.ts
  config/webpack.config.ts/index.ts
  config/webpack.config.ts/loaders.ts
  config/webpack.config.ts/plugins.ts
  config/webpack.config.ts/resolvers.ts
  config/webpack.config.ts/server.base.ts
  config/webpack.config.ts/server.dev.ts
  config/webpack.config.ts/server.prod.ts
  config/webpack.config.ts/storybook.js
  config/webpack.config.ts/template.html
  config/webpack.config.ts/tsconfig.json
  package.json
  postcss.config.js
  scripts/build-client.js
  scripts/build-ssr.js
  scripts/start-client.ts
  scripts/start-ssr.ts
  scripts/start.ts
  scripts/utils.ts
  yarn.lock
Due: prettier --write, yarn lint:js --fix

add more ts conversion
  config/env.ts
  config/filetypes.js
  config/paths.ts
  config/webpack.config.ts/index.ts
  config/webpack.config.ts/plugins.ts
  config/webpack.config.ts/server.base.ts
  config/webpack.config.ts/server.dev.ts
  config/webpack.config.ts/server.prod.ts
  package.json
  scripts/build-client.ts
  scripts/build-ssr.ts
  scripts/build.ts
  scripts/i18n-pull.js
  scripts/i18n-pull.ts
  scripts/i18n-push.ts
  scripts/test.ts
  scripts/utils.ts
  src/server/lib/i18n/lokalise.ts
  tsconfig.tooling.json
  yarn.lock
Due: prettier --write, yarn lint:js --fix

add js fallback for webpack config, add explicit parser to prettier config, cleanup and fix plop issues, update dependencies, add more typescript
  .eslintrc.js
  .eslintrc.ts
  .prettierrc
  babel.config.js
  config/plop/component/component.js.plop
  config/plop/component/component.test.js.plop
  config/plop/component/index.connected.js.plop
  config/plop/component/index.unconnected.js.plop
  config/plop/reducer/actions.ts.plop
  config/plop/reducer/reducer.js.plop
  config/plop/reducer/reducer.ts.plop
  config/plop/reducer/selectors.ts.plop
  config/plop/reducer/types.js.plop
  config/plop/reducer/types.ts.plop
  config/webpack.config.ts/index.js
  i18next-scanner.config.ts
  jest.config.js
  package.json
  plopfile.js
  yarn.lock
Due: prettier --write, yarn lint:js --fix

more typescript
  .browserslistrc
  CHANGELOG.md
  config/paths.ts
  config/plop/component/component.test.tsx.plop
  config/plop/component/component.tsx.plop
  config/webpack.config.ts/index.js
  config/webpack.config.ts/storybook.js
  config/webpack.config.ts/storybook.ts
  jest.config.js
  package.json
  postcss.config.js
  postcss.config.ts
  scripts/start-client.ts
  scripts/start-ssr.ts
  yarn.lock
Due: prettier --write, yarn lint:js --fix

remove harmful parser setting parser: babel should only be used in overrides or otherwise it will be default parser for *all* files (.md, .css, ...) and causes parse errors
  .prettierrc
Due: none

update eslint
  package.json
  yarn.lock
Due: none

remove unused code
  plopfile.js
Due: prettier --write, yarn lint:js --fix

fix #84: import express directly instead of "* as express"
  src/server/index.ts
Due: prettier --write, yarn lint:js --fix

update deps, update changelog, improve ts setup
  CHANGELOG.md
  package.json
  tsconfig.tooling.json
  yarn.lock
Due: none

add more changes to changelog
  CHANGELOG.md
Due: none

add ignore-engines flag as circle-ci itself uses a too old yarn version
  .circleci/config.yml
Due: none

solve incompatibility properly
  .circleci/config.yml
Due: none

run command as sudo
  .circleci/config.yml
Due: none

fix broken builds on some linux machines
  scripts/build-ssr.ts
Due: prettier --write, yarn lint:js --fix

add depcheck to optimize dependencies (missing, unused, etc.)
  package.json
  scripts/depcheck.ts
  yarn.lock
Due: prettier --write, yarn lint:js --fix

fix #88
  package.json
  src/server/lib/i18n/lokalise.ts
Due: prettier --write, yarn lint:js --fix

Chores nov 19 (#89)
  package.json
  scripts/build-ssr.ts
  scripts/depcheck.ts
  src/server/lib/i18n/lokalise.ts
  yarn.lock
Due: prettier --write, yarn lint:js --fix

chore: update deps
  .huskyrc
  package.json
  yarn.lock
Due: none

refactor: use werkzeugkiste/eslint-config and prettier-config
  .eslintrc.ts
  .prettierrc
  .prettierrc.js
  package.json
  yarn.lock
Due: prettier --write, yarn lint:js --fix

fix: lint errors
  .editorconfig
  .stylelintrc
  README.md
  config/webpack.config.ts/resolvers.ts
  global.d.ts
  scripts/i18n-push.ts
  src/global.d.ts
  src/server/lib/i18n/lokalise.ts
  src/shared/components/Features/index.tsx
  src/shared/store/app/selectors.ts
Due: prettier --write, yarn lint:js --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,css}
  yarn lint:js --fix: any of: *.{js,jsx,ts,tsx}
  yarn lint:css --fix: any of: *.css
